
main{
  height: 100%;
  width: 100%;
 display: flex;
 justify-content: space-between;
  background-image: url("/images/Mask.png");
  background-size: contain;
  background-position: right bottom ;
  background-repeat: no-repeat;
  overflow: scroll;
}


.content-section{
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
  
}

@media screen and (max-width: 420px) {

  main{
    background-image: none;
  }

  .content-section {
    margin: 30px; 
   }
}

